/*
 * Atomic
 */
.bold { font-weight: bold; }

.row { display: flex; }
.col { display: flex; flex-direction: column; }
.justify-center { display: flex; justify-content: center; }
.justify-end { display: flex; justify-content: end; }
.justify-around { display: flex; justify-content: space-around; }
.align-center { display: flex; align-items: center; }
.nowrap { display: flex; flex-wrap: nowrap; }
.flex1 { flex-grow: 1; }

.text-red { color: red; }
.text-green { color: #2aad09; }
.text-sm { font-size: 70%; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.w100 { width: 100%; }
.h100 { height: 100%; }

.gap0 { gap: 0.25em; }
.mt0 { margin-top: 0.25em; }
.mb0 { margin-bottom: 0.25em; }
.ml0 { margin-left: 0.25em; }
.mr0 { margin-right: 0.25em; }

.gap1 { gap: 1em; }
.mt1 { margin-top: 1em; }
.mb1 { margin-bottom: 1em; }
.ml1 { margin-left: 1em; }
.mr1 { margin-right: 1em; }

.p { padding: 1em; }
.pt { padding-top: 1em; }
.pb { padding-bottom: 1em; }
.pl { padding-left: 1em; }
.pr { padding-right: 1em; }
.border { border: 1px solid #2aad09; border-radius: 2vw; overflow: hidden; }

.thirds > * {
  max-width: 90vw;
}

.pointer { cursor: pointer; }



/*
 * Globals
 */


body {
  color: #3d3d3d;
  background: #f1f1f1;
  font-family: 'Fira Sans', sans-serif;
  font-size: 150%;
  margin: 0;

  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
  max-width: 980px;
  margin: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  font-size: 1.2em;
  margin-block-start: 0.1em;
  margin-block-end: 0.3em;
}

a { color: #fb4934; }
a:active { color: #928374; }
a:visited { color: #d3869b; }

button, input {
    font-family: inherit;
    font-size: inherit;

    border: 2px solid #005a0a;
    padding: 10px;
    border-radius: 10px;
}


button {
    color: #f6f6f6;
    background: #2aad09;
}

button.disabled {
    border: 2px solid #5a5a5a;
    background: #ddd;
}

button.secondary {
    color: #2aad09;
    background: #f6f6f6;
}

button.secondary:disabled {
    color: #5a5a5a;
}

button.list {
    color: #2aad09;
    background: none;
    border: none;
    width: 100%;
    padding: 0;
    margin-bottom: 0.25em;
}

input {
    /* color: #2aad09; */
    background: #f6f6f6;
}

